h1 {
    color: blue;
    font-size: 50px;
}

body {
    background: aliceblue;
}

.container {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 5px;
}


input {
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 50px;
    margin: 15px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ddd;
}

p {
    font-size: 32px;
}

/* conductor options */

#type option {
    background-color: lightgreen;
}

/* Conduit options */

#Ctype option {
    background-color: lightgreen;
}

#amperage,
label[for="amperage"] {
  visibility: visible;
}

#WireSize2,
label[for="WireSize2"] {
  visibility: hidden;
}